.hero-body{
 background-color: #FF0000 !important;
}

.navbar-menu{
  background-color: #FF0000 !important;
}

.navbar{
  background-color: #FF0000 !important;
}

.scoretext{
  background-color: FFFFFF;
  color: #FF0000;

}

.frame1{
background-color: #FF0000 !important;
}

.frame2{
  background-color: #FF0000 !important;
}
